 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 .container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg,#d2008c,#626fff,#28f421,#23d5ab);
  background-size: cover;
  animation: color 12s ease-in-out infinite; 
} 



 @keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box{
 /* background-color: #626fff; */
  width: 80%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
 
}
  .box1{
    font-size: 35px;
    font-family: Arial;
    margin: 100px 100px 100px 300px;
    /* background-color:yellow; */
  }

  
  .box2{
    font-size: 20px;
    font-family: Arial;
    margin: 0px 100px 100px 300px;
    /* background-color: red; */
  }

  .infobutton {
    position: absolute;
    left: 40%;
    margin-bottom: 900px;
    border-radius: 10px;
    font-family: Arial;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    cursor: pointer;
  }

  .butn1 {
    visibility: hidden;
    position: absolute;
    left: 40%;
    margin-bottom: 900px;
    border-radius: 10px;
    font-family: Arial;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    cursor: pointer;
  }

  
  .butn2 {
    visibility: hidden;
    position: absolute;
    left: 40%;
    margin-bottom: 900px;
    border-radius: 10px;
    font-family: Arial;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    cursor: pointer;
  }
  .infobutton:hover {
    background:palevioletred;
    text-decoration: none;
  }
  .butn1:hover {
    background:#d2008c;
    text-decoration: none;
  }
  .butn2:hover {
    background:rgb(68, 255, 0);
    text-decoration: none;
  }
 
/* .animation-area{
  background: linear-gradient(-45deg,#d2008c,#626fff,#28f421,#23d5ab);
  width:100%;
  height: 100vh;;
}
.box-area{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box-area li{
  position: absolute;
  display: block;
  list-style: none;
  width:25px ;
  background:rgba(255,255,255,0.2) ;
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.box-area li:nth-child(1){
  left:86%;
  width: 80px;
  height: 80px;
  animation-delay:0s ;
}
.box-area li:nth-child(2){
  left:12%;
  width: 30px;
  height: 30px;
  animation-delay:1.5s ;
  animation-duration: 10s;
}
.box-area li:nth-child(3){
  left:70%;
  width: 100px;
  height: 100px;
  animation-delay:5.5s ;
}
.box-area li:nth-child(4){
  left:420%;
  width: 150px;
  height: 150px;
  animation-delay:0s ;
  animation-duration: 15s;
}
.box-area li:nth-child(5){
  left:65%;
  width: 40px;
  height: 40px;
  animation-delay:0s ;
  
}
.box-area li:nth-child(6){
  left:15%;
  width: 110px;
  height: 110px;
  animation-delay:3.5s ;
  
}
@keyframes animates{
  0%{
    transform:translateY(0) rotate(0deg);
    opacity: 1;
  }
 100%{
    transform:translateY(-800px) rotate(360deg);
    opacity: 0;
  }
} */